 {{>head}}
 <body>
 <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--main header left-->
                    <br>
                    <div class=" col-12 main_header_left align-items-center">
                         <figure>
                            <img style="width: 400px;height:400px" src="image/Screenshot (49).png" alt="404 error page" class="img-fluid" title="kanhaiya">
                        </figure>
                         
                        <p> Welcome to Weather App</p>
                        <h1>Opps ! Page <span>Not</span> Found</h1>
                        <a href="/" target=""><button>Go Back</button></a>
                   
                </div>
                    <!--main header right-->
                   

                </div>
            </div>
        </div>
    </div>
    </body>